.* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


.header{
    background-image: url(https://cdn.pixabay.com/photo/2020/10/21/18/07/laptop-5673901_960_720.jpg);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border: solid 1px #f4f4f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-position: center;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    margin-left: 15px;
    color: #f4f4f4
}

.menu ul li a:hover{
    color: tomato;
}

.logo a {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #f4f4f4;
    font-weight: 900;
}
.espace-header {
    padding: 25px 0;
}

.banner img {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #f4f4f4;
}

.titre-a-propos {
    text-align: center;
}
.titre-a-propos h4 {
    text-transform: capitalize;
    font-size: 30px;
    
}

.titre-a-propos p {
    width: 50%;
    margin: 0 auto;
    
}

.espace-a-propos {
    padding: 30px 0;
}

.a-propos {
    display: flex;
    justify-content:space-between;
}

.a-propos-seul {
    border: solid 1px #ddd;
    flex-basis: 30%;
    text-align: center;
    padding: 20px 10px;
    margin-top: 30px;
    border-radius: 10px;
}

.a-propos-seul:hover {
    border-color: tomato;
}

.a-propos-seul h4 {
    text-transform: capitalize;
    font-size: 20px;
}

.a-propos-seul i {
    border: solid 1px #ddd;
    padding: 10px;
    font-size: 20px;
    color: tomato;
    border-radius: 50%;
    transition: .3s;
}


.section-titre {
    text-align: center;
}

.section-titre h4 {
    font-size: 40px;
}

.espace-services {
    background-color: #f4f4f4;
    
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.service-seul {
    width: 30%;
    background-color: #fff;
    padding: 15px;
}

.service-seul h4 {
    text-align: center;
    background-color: teal;
    color: #fff;
    font-size: 20px;
    padding: 10px;
} 

.service-seul img {
    width: 100%;
    
}

.service-seul a {
    background-color: tomato;
    color: #fff;
    padding: 10px 30px;
    text-transform: capitalize;
    transition: .3s;
    
}

.service-seul a:hover {
    background-color: teal;
}

.gallerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    
}

.gallerie-img {
    width: 24%;
    
}

.gallerie-img img {
    width: 100%;
    padding: 10px;
    border: solid 1px #ddd;
    
}


.espace-footer {
    background-color: teal;
    padding: 10px 0;
    
}


.espace-footer p{
    text-align: center;
    color: #fff;
}